@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --transition: all 400ms ease;
  }
  
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3, h5, p {
  color: white;
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */


/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --bg-color-dark: hsl(222, 28%, 91%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 8%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.125rem;
  cursor: pointer;
}


 

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: whitesmoke;
  font-weight: var(--font-medium);
}

.navbar .logo span {
    color: white;
}

.pic :hover{
    background-color: #444444;
}
.go-premium-cta a:hover {
  background: blue;
}
@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    bottom: 1.5rem;
    background-color: rgb(97, 96, 110);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: .5rem;
    transition: .4s; /* For animation dark mode */
  }
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__link{
    color: white;
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }
  .nav__link i{
    font-size: 1.25rem;
  }
  .nav__link span{
    font-size: .688rem;
  }
}

/* Change background header */
.scroll-header{
  background-color:#444444;
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

/* Active link */
.active-link{
  color: white;
}


a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}






.hero {
  background-color: #000000;
  text-align: center;
}
.hero-cta{
    margin-top: 20px;
    align-items: center;
    position: relative;
    top: 20px;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.left-col .primary-cta {
  background: purple;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
.left-col .primary-cta:hover{
    background: rgb(2, 16, 97);
}
.left-col .Watch-Video-cta {
    display: block;
    margin-top: 1em;
  color: whitesmoke;
}

.Video-cta:hover{
    background: rgb(14, 10, 212);
}
.left-col .Watch-Video-cta img {
  margin-right: 0.5em;
  color: whitesmoke;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}


.nft{
    width: 70%; 
    height: 100%; 
    background: linear-gradient(179deg, rgba(0, 0, 0, 0) 0%, black 100%);
    margin-top: 15px;
}
.bis{
   
color: white;
font-size: 47.78px;
font-family: Poppins;
font-weight: 700;
line-height: 56.86px;
word-wrap: break-word;

}
.pp{
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
    top: 20px;
}


/*=============== BRANDS ===============*/
.brand{
    background-color: #000000;
}
  .brand__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 2.25rem;
    position: relative;
    bottom: 50px;
  }
  
  .brand__img{
    width: 120px;
  }
  
  .brand__img:nth-child(even){
    margin-top: 2.5rem;
  }


/*=============== BUN ===============*/
  .bun{
    background-color: #000000;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  
    
  }

 

  .tit :hover{
    background: blue;
  }







  /*=============== testimonials ===============*/
  .testimonials-section {
    background: black;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonials-section ul {
    justify-content: space-around;
  }
  .testimonials-section li img {
    width: 50px;
    height: 50px;
    border: 5px solid #006BD6;
    margin-top: -4.5em;
    position: relative;
    top: 160px;
  }
  .container12{
    position: relative;
    cursor: pointer;
  }

  @media screen and ( min-width: 758px) {
    .testimonials-section{
        grid-template-columns: repeat(2fr, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

  .ccc{
    width: 505px;
height: 491px;
flex-shrink: 0;
  }
  



  .footer{
    background-color: #444444;
    box-shadow: inset 0 0 3rem rgba(46, 44, 44, 0.5);
  }
  .footer__container{
    row-gap: 3rem;
  }
  
  .footer__logo{
    color: whitesmoke;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: .75rem;
  }
  
  .footer__content,
  .footer__links{
    display: grid;
  }
  
  .footer__content{
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem 3rem;
  }
  
  .footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
  }
  
  .footer__links{
    row-gap: .75rem;
  }
  
  .footer__links,
  .footer__information{
    font-size: var(--small-font-size);
  }
  
  .footer__link{
    color: whitesmoke;
    transition: .3s;
  }
  
  .footer__link:hover{
    text-decoration: underline;
    color: var(--title-color);
  }
  
  .footer__social{
    display: flex;
    column-gap: .5rem;
  }
  
  .footer__social-link{
    display: inline-flex;
    color: whitesmoke;
    padding: .4rem;
    background-color: var(--container-color);
    font-size: 1.25rem;
    transition: background-color .3s;
  }
  
  .footer__social-link:hover{
    border-color: var(--bg-color-light);
    transform: translateY(-.25rem);
  }
  
  .footer__info{
    margin-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
  }
  
  .footer__copy,
  .footer__privacy{
    font-size: var(--smaller-font-size);
    color: whitesmoke;
  }
  

  body .footer {
    z-index: 1;
    --footer-background: #444444;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--primary-color);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(220, 8%, 76%);
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: hsl(220, 8%, 64%);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(220, 8%, 54%);
  }
  
  /*=============== SCROLL UP ===============*/
  .scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 8px 12px hsla(220, 95%, 36%, 0.836);
    display: inline-flex;
    padding: .35rem;
    color: aqua;
    font-size: 1.1rem;
    z-index: var(--z-tooltip);
    transition: .3s;
  }
  
  .scrollup:hover{
    transform: translateY(-.25rem);
  }
  
  /* Show Scroll Up*/
   .show-scroll{
    bottom: 7.5rem;
   }
   
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    .footer__content{
      grid-template-columns: max-content;
      row-gap: 2rem;
    }
  
    .nav__menu{
      padding: 1rem 1.5rem;
    }
  
    .brand__container{
      grid-template-columns: repeat(2, 100px);
      row-gap: .5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .nav__menu{
      width: 342px;
    }
  
    .new__container{
      grid-template-columns: repeat(2, max-content);
    }
  
    .footer__content{
      grid-template-columns: repeat(3, max-content);
    }
  }
  
  @media screen and (min-width: 767px) {
    .brand__container{
      grid-template-columns: repeat(4, max-content);
    }
  
    .footer__container{
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1023px) {
    .section{
      padding: 7rem 0 1rem;
    }
    .section__title{
      margin-bottom: 4rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
      width: initial;
      margin-left: auto;
    }
    .nav__list{
      display: flex;
      column-gap: 3rem;
    }
    .nav__link{
      color: white;
      font-weight: var(--font-medium);
      transition: .3s;
    }
    .nav__link i{
      display: none;
    }
    .nav__link:hover{
      color: white;
    }
  
    .active-link{
      color: white;
      text-decoration: line-through;
    }

  
    .footer__content{
      grid-template-columns: repeat(4, max-content);
      column-gap: 5.5rem;
    }
    .footer__link{
      font-size: var(--normal-font-size);
    }
    .footer__info{
      padding-bottom: 2rem;
      row-gap: 1rem;
    }
  }
  
  @media screen and (min-width: 1054px) {
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 1124px) {
    .brand__container{
      column-gap: 5.5rem;

      align-items: center;
    }
    .brand__img{
      width: 140px;
    }
  
    .scrollup{
      right: 3rem;
    }
    .show-scroll{
      bottom: 3rem;
    }
  }
  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0 auto;
    }
    section {
      padding: 10em 4em;
    }
     .testimonials-section ul {
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
}   
  
  /* For 2K resolutions (2048 x 1152, 2048 x 1536) */
  @media screen and (min-width: 2048px) {
    body{
      zoom: 1.3;
    }
  }
  
  /* For 4K resolutions (3840 x 2160, 4096 x 2160) */
  @media screen and (min-width: 3840px) {
    body{
      zoom: 2.3;
    }
  }